name: OSAMAZ_HUNTER_GO_NONSTOP

on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

jobs:
  hunt:
    name: Node-${{ matrix.node }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'

    - name: Install Dependencies
      run: |
        rm -f go.mod go.sum
        go mod init hunter
        go get github.com/btcsuite/btcd/btcec/v2
        go get github.com/btcsuite/btcd/btcutil/base58
        go get golang.org/x/crypto/ripemd160
        go mod tidy

    - name: Run
      run: timeout 55m go run main.go || true
